* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Header {
    padding: 20px;
    /* text-align: center; */
    background-color: darkgray;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    z-index: 2;
}

Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: floralwhite;
    width: -webkit-fill-available;
}

.title {
    text-align: center;
    margin:10px 0;
    padding: 5px;
    margin-top: 75px;
}

.flex-container {
    display: flex;
    /* background-color: lightgray; */
    flex-wrap: wrap;
    margin: 0 10px;
    margin-bottom: 60px;
    
}

.flex-container > div {
    /* background-color: white; */
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    width: min-content;
}
  
.linknav {
    text-decoration: none;
}

.view-container {
    text-align: center;
    padding: 10px;
}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
    /* height: 250px; */
    /* border: 1px solid black; */
    /* background-color: darkgray; */
    margin: 30px 50px;
    /* text-align: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Imgdiv {
    background-color: white;
    text-align: center;
}

.createImgBook {
    width: 200px;
    margin-top: 60px;
}

.loginImgBook {
    width: 200px;
}

.formdiv {
    padding: 5px;
    margin: 5px;
    margin-left: 30px;
}

.txtbox {
    margin-bottom: 15px;
    padding: 5px 0;
    /* border: none; */
    /* outline: none; */
    border-bottom: 2px solid;
    /* text-align: center; */
}


.NavLink {
    /* text-align: center; */
    margin-left: 50px;
}

.AddBtn {
    padding: 5px;
    margin: 10px 0;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 160px;
}

.gridContainer {
    display: grid;
    grid-template-rows: auto;
}

.input-txtbox {
    margin-bottom: 15px;
    padding: 5px 0;
    /* border: none; */
    /* outline: none; */
    border-bottom: 2px solid;
}

.header-bar {
    display: flex;
}

.header-bar > div {
    display: flex;   
}

/*for menu bar start*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 25px;
    z-index: 1;
}

.dropdown-content > .NavlinkCls {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .menu-header {
    display: block;
}

.dropdown-content .NavlinkCls:hover {
    background-color: #ddd;
}

.dropdown-content NavLink:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
/*for menu bar end*/


/*for menu bar1 start*/
.dropdown1 {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* margin-top: 25px; */
    z-index: 1;
}

.dropdown-content1 > .NavlinkCls1 {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}



.dropdown1:hover .menu-header1 {
    display: block;
}

.dropdown-content1 .NavlinkCls1:hover {
    background-color: #ddd;
}

.dropdown-content1 NavLink1:hover {background-color: #ddd;}
  
.dropdown1:hover .dropdown-content1 {display: block;}
/*for menu bar end*/

/*Cart List CSS start*/
.QtyBtn {
    padding: 5px;
    margin: 10px 10px;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

.Qtyvalue {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.formdiv.cart {
    text-align: center;
}

.CartBtn {
    padding: 5px;
    margin: 10px 5px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    border-radius: 15px;
}

.cart {
    margin-top: 20px;
}
/*Cart List CSS end*/

/*Coupon Container start*/
.coupon-container {
    text-align: center;
    padding: 10px;
    /* margin: 30px 50px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ApplyBtn {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.TxtBox {
    padding: 3px;
}
/*Coupon Container end*/

/*CartBilling Container start*/
.cartBilling-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 80px;
}

.billingPriceDiv {
    text-align: right;
}
/*CartBilling Container end*/

/*Address Container start*/
.Addr-container {
    padding: 10px;
    margin: 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.AddrBtn {
    padding: 5px;
    margin: 5px 10px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.BtnLink {
    color: white;
    text-decoration: none;
}
/*Address Container end*/

/* Address Form Container Start*/
.Addrform-Container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    /* text-align: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.Txt-Box {
    padding: 2px;
}
/* Address Form Container ends*/

/*AddressList Conatiner Starts*/
.Addrtitle {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.AddrDiv-Container {
    padding: 10px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.CoverDiv {
    margin-bottom: 80px;
}

.BtnsDiv {
    display: grid;
    grid-template-columns: auto auto;
}

.AddrBtnsDiv {
    display: grid;
    grid-template-columns: auto auto auto;
}

.AddrLinkBtn {
    text-align: center;
    color: black;
    background-color: lightgray;
    text-decoration: none;
    padding: 5px;
}

.AddrLinkBtn:hover {
    color: blue;
}

.NewAddrDiv {
    padding: 10px;
    margin-top: 80px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.AddrNavLink {
    text-decoration: none;
}
/*AddressList Conatiner ends*/
